<!doctype html>
<html>
<head>
    <title>Tasks App</title>
</head>
<body>
<div ng-app='todoApp' class='todo-app'>
    <div ng-controller='todoController'>
        <h3>Simple Todo app</h3>

        <!-- form -->
        <h4 ng-if="!changingTodoId">Add a Task</h4>
        <h4 ng-if="changingTodoId">Edit Task</h4>
        <form
            ng-submit="addTodo()"
            name='form'
            class="add-form"
        >
            <input
                id="new-todo"
                ng-model='newTodo'
                placeholder="What you need to do?"
            >
            <input ng-if="!changingTodoId" type="button" value="Add todo" ng-click="addTodo()" />
            <input ng-if="changingTodoId" type="button" value="Edit todo" ng-click="editTodo()" />
        </form>

        <div class="sort-buttons-container">
            <button ng-click="changeTodoSortType('text')">Sort by text</button>
            <button ng-click="changeTodoSortType('createdAt')">Sort by date</button>
            <button ng-click="changeTodoSortType('')">Clear sorting</button>
        </div>

        <!-- todos lists -->
        <h4>New todos</h4>
        <ul>
            <li
                ng-repeat='task in newTasks | filter:dateFilter | startsWithLetter:letter | orderBy:sortType'
            >
                <span ng-click="completeTask(task)">
                    <span class='tasks__item' ng-class='{"tasks__item_done": task.done}'>{{task.text}}</span>
                    <span class='tasks__created-at'>created at {{task.createdAt | customDate}}</span>
                </span>
                <span ng-click="activateEditTodo(task.id)">Edit</span>
            </li>
        </ul>

        <h4>Completed todos</h4>
        <ul>
            <li ng-repeat='task in completedTasks | filter:dateFilter | startsWithLetter:letter' ng-click="completeTask(task)">
                <span class='tasks__item' ng-class='{"tasks__item_done": task.done}'>{{task.text}}</span>
                <span class='tasks__created-at'>created at {{task.createdAt | customDate}}</span>
            </li>
        </ul>

        <!-- filter by date -->
        <ul class='filter'>
            <li class='filter__item'
                ng-class='{"filter__item_active": filter == -1}'
                ng-click="changeFilter(-1)"
            >All</li>
            <li class='filter__item'
                ng-class='{"filter__item_active": filter == 0}'
                ng-click="changeFilter(0)"
            >Created Today
            </li>
            <li class='filter__item'
                ng-class='{"filter__item_active": filter == 1}'
                ng-click="changeFilter(1)"
            >Created Last day
            </li>
            <li class='filter__item'
                ng-class='{"filter__item_active": filter == 7}'
                ng-click="changeFilter(7)"
            >Created Last week
            </li>
        </ul>

        <!-- filter by first letter -->
        <input
            ng-model='letter'
            placeholder="Enter a letter to filter"
        >
    </div>
</div>
</body>
</html>
